
.about-images,
.research-container,
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.about-images img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.research-item {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px 0;
    max-width: 800px;
    text-align: left; /* Ensure the text is aligned to the left */
}

.research-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;
}

.research-item-content {
    flex: 1;
}

.research-item h3 {
    margin-top: 0;
    font-size: 20px; /* Increase the font size for better readability */
}

.research-item p {
    margin: 5px 0; /* Add margin to paragraphs for better spacing */
}

.research-item a {
    color: #0073e6;
    text-decoration: none;
    display: block; /* Display links as block elements */
    margin-top: 10px; /* Add margin to separate from the content */
}

.research-item a:hover {
    text-decoration: underline;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
}
