.tabcontent {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: flex-start; /* Center the content vertically */
    padding: 20px;
    border: none;
    background-color: #ffffff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Center the content */
}

#About.tabcontent .about-container,
.research-container,
.contact-container {
    background-color: #f9f9f9; /* Light background for contrast */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}
